 .appbar {
  color: #f28b82;
  font-size: 20px;
  margin: 25px 35px;
  font-family: arial,sans-serif;
}
.intro {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.red-text {
  color: red;
}
.line {
  border-bottom: 1px solid #357ae8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.textinput {
    width: 100%;
    text-align: left
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.bodies {
  width: 100%;
  clear: both;
}
.form-structure {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}
.float {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    font-family: arial,sans-serif;
}
.hollow {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.pad-inter {
  padding-right: 50px;
}
.float-text {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    font-family: arial,sans-serif;
}
.lat {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
}
.suggest {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;  
    font-family: arial,sans-serif;
}
.main_alignment {
    clear: both;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
.hollowb {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
    font-family: arial,sans-serif;
}
.line {
  border-color: #3c4043;
  margin: 18px 0;
  clear: both;
  border-top: 1px solid #ebebeb;
}
.main_input {
    display: flex;
    z-index: 3;
    height: 44px;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: auto;
    max-width: 584px;
}
.input_icons {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px; 
}
.search_icstyle {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.input_inline
{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.input_on_style
{
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}
.input_text_style
{
  background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #000000;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.sch_btn
{
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select:none;
}
.sch_btn:hover {
    border: 1px solid #303134;
    border-radius: 2px;
    cursor: pointer;
}
.sch_btn_adv
{
    background: #8ab4f8;
    border-color: #8ab4f8;
    border: 1px solid #3079ed;
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select:none;
}
.sch_btn_adv:hover {
    border: 1px solid #3079ed;
    border-radius: 2px;
    cursor: pointer;
}
.logo_structure
{
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_sub
{
  height: 100%;
  margin-top: auto;
  max-height: 92px;
  position: relative;
}
.main_logo
{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
.header
{
  display: flex;
  align-items: right;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
  transition: box-shadow 250ms;
  display: block;
}
.header_text
{
  float: right;
  padding-left: 32px;
  box-sizing: border-box;
  height: 48px;
  padding: 0 4px;
  flex: 0 0 auto;
  justify-content: flex-end;
  color: black;
  display: inline-block;
}
.header_text_int
{
  padding-left: 15px;
  padding: 0 16px;
  display: inline-block
}
.links
{
  font-size: 14px;
  font-family: arial,sans-serif;
  line-height: 24px;
  vertical-align: middle;
  color: #202124;
}
.test_logo
{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
.logo_container
{
  max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
    display: block;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }